# postgres-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lcims-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lcims-db
  template:
    metadata:
      labels:
        app: lcims-db
    spec:
      containers:
        - name: lcims-db
          image: ejahdilan/lcims-db:production
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "lechiffre1996"
            - name: POSTGRES_DB
              value: "lcims-test"
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
          readinessProbe:
            exec:
              command:
                - "pg_isready"
                - "-U"
                - "postgres"
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: lcims-db
spec:
  selector:
    app: lcims-db
  ports:
    - port: 5432
      targetPort: 5432
